

.alegreya-sailfont {
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
}

body {
    --navyblue: #1d4772;
    --smoothred: rgb(192, 60, 60);
    --sandy: #EAD8B1;
    height: 100vh;
    width: 100vw;
    display: flex;
}
#hero {
    flex-basis: 27.3%;
    height: 100%;
    background-color: rgb(22, 22, 22);
    position: relative
}

video{
    height: 99.5%;
    margin: 0;
    padding: 0;
}

#heroText {
    display: flex;
    gap: 3%;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 70%;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: "Alegreya", serif;
    font-size: 8rem;
    font-weight: 600;
}

#heroFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: "Alegreya", serif;
    font-size: 1rem;
    font-weight: 200;
}
a, p {
    color: white;
}


#content {
    display: flex;
    flex-direction: column;
    flex-basis: 72.7%;
    border-left: 0.4rem solid /* #001F3F; */ white;
}
.contentContainer {
    width: 100%;
}

.pLarge{
    margin-bottom: 1rem;
}

.pSmall {
    font-size: 2rem;
    font-weight: 150;
    max-inline-size: 200ch;
}

#container1 {
    padding: 2%;
    padding-left: 10%;
    height: 30%;
    background-color: #3A6D8C;
    font-family: "Alegreya", serif;
    font-size: 3.5rem;
    font-weight: 500;
}

#container2 {
    flex-grow: 1;
    background-color: var(--sandy);
    box-shadow: 0px -6px 4px -7px rgba(0,0,0,62), 0px 6px 4px -4px rgba(0,0,0,62);
    position:relative;
    z-index:999;
    color:var(--navyblue);
    display: flex; 
    justify-content: start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 2rem;
}
#emptyDiv {
    width: 20%;
}
#formDiv{
    width: 80%;
    margin-left: 5%;
}

legend {
    font-size: 2.5rem;
    font-weight: 550;
}
#contactForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 5%; 
    padding: 2%;
}
input {
    color: var(--navyblue);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.formInput {
    width: 25vw;
}
input::placeholder{
    color: #a19a8a;
}

input:not(:placeholder-shown):not(:focus):invalid{
    border: 2px var(--smoothred) solid;
}



@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
label:has(+ input:not(:placeholder-shown):not(:focus):invalid)::after{
    animation: fadeIn 0.75s;
    color: var(--smoothred);
    margin-right: 0;
    font-size: 1.2rem;
}

label:has(+ #email:not(:placeholder-shown):not(:focus):invalid)::after {
    content: "Incorrect format. Don't forget the '@'-sign and your host's domain name!";
}

label:has(+.contact.name:not(:placeholder-shown):not(:focus):invalid)::after {
    content: "2-50 characers, max. one syphen, no other special characters";
}

label:has(+ #pw1:not(:placeholder-shown):not(:focus):invalid)::after {
    content: "Please use one capital letter, one number and at least 6 characters";
}

label:has(+ #pw2:not(:placeholder-shown):not(:focus):invalid)::after {

    content: "Make sure the passwords match!";
}

label:has(+ #phone:not(:placeholder-shown):not(:focus):invalid)::after {

    content: "Only numbers and special characters please!";
}





input:focus{
    border: 2px var(--navyblue) solid;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.555);
}
.contact {
    width: 100%;
}
button {
    background-color: var(--sandy);
    color:var(--navyblue);
    border-radius: 10px;
    margin-top: 3rem;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.62);
    width: 15vw;
}

button:hover {
   background-color: #ddc38b;
}
button:active{
    background-color: #ceb174
}
#container3 {
    display: flex;
    flex-direction: column;
    gap: 5%;
    height: 30%;
    padding-left: 10%;
   /*  background-color: #3A6D8C; */
   background-color: #6A9AB0;
   justify-content: start;
   align-items: left;
}
#container3 > p 
{font-size: 1.8rem;
    margin-left: 0.5%;
}
#container3 > p > a {color: var(--navyblue)}